/* ROOT DE CORES DO PROJETO: */


/* *************************************** */
/** ROOT de CORES: */
/* *************************************** */
:root {
    /* DARK */
    /* BackGround: */
    --cor-bg-primaria: #000;
    --cor-bg-secundaria: #a9a7a7;
    --cor-bg-terciaria: #f1f1f1;
    /* Texto: */
    --cor-txt-primaria: #f1f1f1;
    --cor-txt-secundaria: #000;
    --cor-txt-terciaria: #a9a7a7;
    --cor-txt-quaternaria: rgb(89, 88, 88);
    --cor-txt-quinaria: rgb(65, 64, 64);
    /* #c9c5c5 */

    /* Contrastes: */
    /* --cor-ctt-primaria: rgb(248, 163, 87); */
    /* --cor-ctt-primaria: #ffd700; */
    --cor-ctt-primaria: #daa520;
    /* --cor-ctt-primaria: #b8860b; */
    /* --cor-ctt-primaria: #b29146; */

    /* Levemente Mais Clara/Acesa: */
    --cor-ctt-secundaria: rgb(253, 175, 106);
    --cor-ctt-secundaria: #fcdb22;
    --cor-ctt-secundaria: #efb523;
    --cor-ctt-secundaria: #cb950d;
    --cor-ctt-secundaria: #c9a550;

    /* Levemente mais escuras: */
    --cor-ctt-primaria: #b98d1b;

    /* Cores dos Exagonos: */
    --cor-ctt-bd_exag-01: #CCAC0C;
    --cor-ctt-bg_exag-02: #CE9004;
    --cor-ctt-bg_exag-03: #c38004;
}

